# Flask Configuration
SECRET_KEY=your-super-secret-production-key
DEBUG=False

# Database Configuration
# Paths are relative to backend/ by default
DB_PATH=infratick.db

# Frontend Path
# If serving static files via backend
FRONTEND_DIR=../frontend

# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-holy-fog-amgnwiu5.c-5.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_n6tRUYLQz1Kc

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_n6tRUYLQz1Kc
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_n6tRUYLQz1Kc@ep-holy-fog-amgnwiu5-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require
